.hot_course {
	padding-left: 127px;
	padding-right: 127px;
}
.guess_cont {
	padding: 5px 0 110px;
	font-weight: lighter;
	color: $main_white;
	.outer {
		width: 175px;
		display: inline-block;
		margin-right: 15px;
		.hover_rbt {
			width: 60px;
			height: 30px;
			display: block;
			visibility:hidden;
			margin-bottom: -4px;
		}
		.course_info {
			height: 107px;
			width: 100%;
			line-height: 107px;
			border-top: 0;
			background: $bg_red_light;
		}
		.center_cont {
			line-height: 18px;
		}
		.class_name {
			font-size: 18px;
			margin-bottom: 7px;
		}
		.teacher {
			font-size: 12px;
		}
	}
	.course_info:hover {
		background: $font_red_deep;
	}
	.outer:last-child {
		margin-right: 0;
	}
	.outer:hover {
		.hover_rbt {
			visibility: visible;
		}
	}
}

