.hot_course {
	width: 1000px;
	background: #FFFFFF;
	box-sizing: border-box;
	padding: 30px 145px;
	.head {
		width: 230px;
		height: 42px;
		text-align: center;
		margin-bottom: 20px;
		.title {
			font-size: 18px;
			line-height: 18px;
			margin-bottom: 5px;
			color: $font_black_deep;
		}
		.introduce {
			font-size: 12px;
			line-height: 12px;
			color: $main_green;
		}
	}
	.hot_box {
		display: inline-block;
	}
	.hot_cont {
		float: left;
		margin-left: -2px;
		.course_about,
		.course_index {
			width: 140px;
			height: 103px;
			line-height: 18px;
			text-align: center; 
			vertical-align: middle;
		}
		.course_about {
			display: table-cell;
			font-size: 14px;
			border: 2px solid $main_green;
		}
		.course_index {
			font-size: 35px;
			color: $font_red_deep;
			text-decoration: underline;
			line-height: 103px
		}
	}
	.hot_cont:nth-child(even) {
		margin-top: 2px;
	}
	.hot_cont:nth-child(3) {
		.course_about {
			color: #FFFFFF;
			background: $main_green;
		}
	}
}