@import "../ui/ui.scss";
@import "../common/common.scss";
@import "../common/sprites.scss";

/***
 xueer component index_list
 authored by zindex
***/
.hot_courses{
	padding-top:80px;
	width: 800px;
	.title{
		width:144px;
		font-size: 24px;
		color:$font_orange;
		padding-bottom: 12px;
		border-bottom: 2px solid $font_orange;
		margin-bottom: 47px;
	}
	.lists{
		width:800px;
		.list{
			width:299px;
			font-size: 24px;
		}
		.temp{
			width:202px;
			font-size: 24px;
		}
		a{
			color:$font_grey_light;
		}
	}
	.temp{
		.inner{
			margin:0 auto;
			width:74px;
			height:545px;
			background-image:url('../images/index_temp.png');
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
	.ib{
		display:inline-block;
		vertical-align: top;
	}
	.list{
		padding-top: 5px;
		.item{
			border-bottom: 1px solid rgba(92,92,92,.2);
			margin-bottom: 37px;
		}
		.item:last-child{
			border-bottom:none;
		}
		.course_name{
			margin-bottom: 10px;
			overflow:hidden;
			white-space:nowrap;
			text-overflow:ellipsis;
		}
		.info{
			font-size: 18px;
			color:$font_grey_light;
			margin-bottom: 33px;
		}
		.like_icon{
			display:inline-block;
			width:20px;
			height:17px;
			@include sprite($index_like);
			vertical-align: -1px;
			margin-right: 15px;
		}
		.like_text{
			font-size: 18px;
			display:inline-block;
		}
		.left{
			text-align: right;
			.teacher{
				margin-right: 34px;
			}
		}
		.right{
			text-align: left;
			.likes{
				margin-right: 34px;
			}
		}

	}
}