<div class="footer">
    <div class="link margin_auto">
        <span class="item va_item space">
			<a href="http://muxistudio.com/" target="_blank" class="icon va_item">
				<img src="../../static/images/home.png" alt="home">
			</a>
        <a href="http://muxistudio.com/" target="_blank" class="text va_item">木犀官网</a>
        </span>
        <span class="item va_item space text_align_center">
			<a href="http://weibo.com/u/5610679970" target="_blank" class="icon va_item">
				<img src="../../static/images/weibo.png" alt="home">
			</a>
        <a href="http://weibo.com/u/5610679970" target="_blank" class="text va_item">团队微博</a>
        </span>
        <span class="item va_item space text_align_right">
			<a  href="http://weibo.com/u/5610679970" target="_blank" class="icon va_item">
				<img src="../../static/images/weixin.png" alt="home">
			</a>
        <a href="http://weibo.com/u/5610679970" target="_blank" class="text va_item">加入我们</a>
        </span>
    </div>
    <div class="copyright">
        Hello from Wuhan&nbsp;&nbsp;2015 Muxistudio
    </div>
</div>
