<div class="header">
    <div class="container margin_auto">
        <div class="head space">
            <div class="logo va_item"></div>
            <div class="search va_item"></div>
            <a href="#" class="login button va_item">登录</a>
            <a href="#" class="reg button va_item">注册</a>
        </div>
    </div>
</div>
<div class="nav">
    <div class="container margin_auto space">
        <a href="#" class="item va_item">首页</a>
        <a href="#" class="item va_item">推荐课程</a>
        <a href="#" class="item va_item">所有课程</a>
        <a href="#" class="item va_item">关于木犀</a>
    </div>
</div>
