<div class="header">
    <div class="container margin_auto">
        <div class="head space">
            <svg class="logo va_item">
                <use xlink:href="#xueer_logo"/>
            </svg>
            <div class="nav va_item space">
                <a href="/" class="item active va_item first">首页</a>
                <a href="/course" class="item va_item last">分类查看</a>
            </div>
            <div class="search va_item">
                <form action="#" class="form space">
                    <input class="input_warpper va_item" id="input_warpper">
                    </input>
                    <button type="submit" class="search_button tc va_item">
                        <svg class="search_icon va_item">
                            <use xlink:href="#search">
                        </svg>
                    </button>
                </form>
            </div>
            {% if page=="login"  or page=="register" %}
                <svg class="rbt_logo va_item">
                    <use xlink:href="#rbt_logo"/>
                </svg>
                <a href="/login" class="login log_button va_item">登录/注册</a>
            {% else %}
                <div class="rbt_logo va_item">
                    
                </div>
                <a href="/login" class="login log_button va_item">退出</a>
            {% endif %}
        </div>
    </div>
</div>

