@mixin button($width,$height,$radius){
	width: $width;
	line-height: $height;
	border-radius: $radius;
	text-align: center;
}
@mixin tag(){
	line-height: 22px;
	height:21px;
	display:inline-block;
	border:2px solid $main_white;
	text-align: center;
}