@mixin button($width,$height,$radius){
	width: $width;
	line-height: $height;
	border-radius: $radius;
	color: $main_white;
	text-align: center;
}
@mixin tag($font-size){
	font-size: $font-size;
	padding: 3px 14px;
	text-align: center;
}
@mixin course_class($width,$height,$size){
	width: $width;
    height: $height;
    color: $main_green;
    border: 2px solid;
    border-radius: 50%;
    line-height:$height; 
    font-size: $size;
    font-weight: 300;
    text-align: center;
}