span {
    display: inline-block;
}

.registe_box {
    width: 800px;
    margin: 0px auto;
    padding: 50px 80px 220px;
    background: #fff;
    .re_or_log {
        .register {
            color: #EC6941;
            border-bottom: 2px solid rgb(236, 105, 65);
            font-size: 22px;
            line-height: 20px;
            padding: 10px 0px;
            margin-right: 20px;
        }
        .login {
            border-left: 2px solid rgb(236, 105, 65);
            color: #4098d1;
            font-size: 16px;
            padding-left: 20px;
            a {
                color: #ec6941;
            }
        }
    }
    form {
        font-size: 24px;
        input {
            color: #999;
            font-size: 16px;
            height: 38px;
            width: 260px;
            border: solid 1px;
            padding: 0px 10px;
        }
        span {
            
            height: 40px;
            line-height: 40px;
            width: 138px;
        }
        .must {
            span{
            	color: #1dc091;
            }
            .name, .e-mail {
                margin-top: 70px;
                margin-bottom: 70px;
            }
            p {
                margin-top: 23px;
                margin-bottom: 13px;
            }
           
        }
        hr {
            height: 2px;
            color: #aaa;
            width: 100%;
        }
        .option{
        	margin: 60px 0px 70px 0px;
        }
        .option p {
           
            margin: 10px 0px 20px 0px;
            span{
            	 color: #5c5c5c;
            }
        }
        input.submit {
            height: 60px;
            width: 260px;
            background-color: #ec6941;
            color: #fff;
            line-height: 60px;
            margin: 20px 138px;
        }
    }
}
