<div class="banner">
	<div class="item current" style="background-color:#717DB5">
		<img src="/static/images/banner.jpg"/>	
	</div>
	<div class="item" style="background-color:#717DB5">
		<img src="/static/images/banner.jpg"/>	
	</div>
	<div class="item" style="background-color:#717DB5">
		<img src="/static/images/banner.jpg"/>	
	</div>
	<div class="dots_container">
		<div class="dots space">
			<span class="dot current_dot"></span>
			<span class="dot"></span>
			<span class="dot last"></span>
		</div>
	</div>
</div>

