<div class="hot_course margin_auto margin_b">
	<div class="head margin_auto">
		<div class="title tc">猜你喜欢课程</div>
		<div class="introduce">根据您的浏览记录，推荐相似课程列表</div>
	</div>
	<div class="guess_cont space">
		{% for course in guess_courses %}
			<div class="outer">
				<svg class="hover_rbt  margin_auto">
					<use xlink:href="#hover_rbt"/>
				</use>
				<div class="course_info tc cp">
					<div class="center_cont va_item">
						<div class="class_name">《{{ course.title}}》</div>
						<div class="teacher">{{ course.teacher}}</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
