<svg style="display: none;" xmlns="http://www.w3.org/2000/svg">
    <symbol viewBox="0 0 85 135" id="cactus">
        <g id="cactus-Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="cactus-登录页" transform="translate(-731.000000, -573.000000)">
                <g id="cactus-仙人掌-" transform="translate(731.000000, 573.000000)">
                    <use id="cactus-Rectangle-15-Copy" stroke="#64200B" mask="url(#cactus-mask-2)" stroke-width="2" fill="#B6F478" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cactus-path-1"></use>
                    <use id="cactus-Rectangle-15" stroke="#64200B" mask="url(#cactus-mask-4)" stroke-width="2" fill="#B7F578" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cactus-path-3"></use>
                    <use id="cactus-Rectangle-13-Copy" stroke="#64200B" mask="url(#cactus-mask-6)" stroke-width="1.8" fill="#F6A623" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cactus-path-5"></use>
                    <rect id="cactus-Rectangle-13-Copy-2" fill="#FFC668" x="16.4889299" y="75.0923913" width="59.251887" height="58.3833326" rx="2.7"></rect>
                    <use id="cactus-Rectangle-13" stroke="#64200B" mask="url(#cactus-mask-8)" stroke-width="1.8" fill="#FFE7BF" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cactus-path-7"></use>
                    <rect id="cactus-Rectangle-44" fill="#6F944A" x="21.9852399" y="19.2309783" width="0.916051661" height="7.32608696" rx="2"></rect>
                    <rect id="cactus-Rectangle-44-Copy" fill="#6F944A" x="30.2297048" y="22.8940217" width="0.916051661" height="7.32608696" rx="2"></rect>
                    <rect id="cactus-Rectangle-44-Copy-2" fill="#6F944A" x="25.6494465" y="33.8831522" width="0.916051661" height="7.32608696" rx="2"></rect>
                    <rect id="cactus-Rectangle-44-Copy-3" fill="#6F944A" x="33.8939114" y="44.8722826" width="0.916051661" height="7.32608696" rx="2"></rect>
                    <rect id="cactus-Rectangle-44-Copy-5" fill="#6F944A" x="56.795203" y="41.2092391" width="0.916051661" height="7.32608696" rx="2"></rect>
                    <rect id="cactus-Rectangle-44-Copy-6" fill="#6F944A" x="49.4667897" y="45.7880435" width="0.916051661" height="7.32608696" rx="2"></rect>
                    <rect id="cactus-Rectangle-44-Copy-7" fill="#6F944A" x="53.1309963" y="56.7771739" width="0.916051661" height="7.32608696" rx="2"></rect>
                    <rect id="cactus-Rectangle-44-Copy-4" fill="#6F944A" x="22.9012915" y="53.1141304" width="0.916051661" height="7.32608696" rx="2"></rect>
                </g>
            </g>
        </g>
    </symbol>
</svg>