<svg style="display: none;" xmlns="http://www.w3.org/2000/svg">
	<symbol viewBox="0 0 92 60" id="folder">
        <g id="folder-Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="folder-登录页" transform="translate(-988.000000, -571.000000)" fill="#E8E3E3">
                <g id="folder-登录表" transform="translate(740.000000, 205.000000)">
                    <polygon id="folder-卷角" points="248 425.884766 260.368164 366 339.982422 372.15918"></polygon>
                </g>
            </g>
        </g>
    </symbol>
</svg>