<svg style="display: none;" xmlns="http://www.w3.org/2000/svg">
    <symbol viewBox="0 0 40 40" id="rbt_logo">
	    <g id="rbt_logo-Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	        <g id="rbt_logo-登录页" transform="translate(-1069.000000, -20.000000)">
	            <g id="rbt_logo-Group-2-Copy" transform="translate(1069.000000, 20.000000)">
	                <mask id="rbt_logo-mask-2" fill="white">
	                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#rbt_logo-path-1"></use>
	                </mask>
	                <use id="rbt_logo-Mask" fill="#50E3C2" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#rbt_logo-path-1"></use>
	                <g id="rbt_logo-Group" mask="url(#rbt_logo-mask-2)">
	                    <g transform="translate(5.538462, 3.692308)">
	                        <use id="rbt_logo-Rectangle-17" stroke="#641F0A" mask="url(#rbt_logo-mask-4)" stroke-width="1" fill="#FDFDFD" fill-rule="evenodd" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#rbt_logo-path-3"></use>
	                        <path d="M1.89541252,0.460954052 C1.84852193,0.456364336 1.80096633,0.454017094 1.7528564,0.454017094 C0.95675508,0.454017094 0.321367521,1.09722811 0.321367521,1.89066911 L0.321367521,18.0083112 L0.321367521,44.6004827 C0.321367521,46.2578374 0.912599639,47.7761672 1.89541252,48.9562498 L1.89541252,0.460954052 Z" id="rbt_logo-Rectangle-17-Copy" stroke="none" fill="#F6F2F2" fill-rule="evenodd"></path>
	                        <ellipse id="rbt_logo-Oval-10" stroke="none" fill="#540D0D" fill-rule="evenodd" cx="7.08320251" cy="16.5762805" rx="0.787022501" ry="0.556461977"></ellipse>
	                        <ellipse id="rbt_logo-Oval-10-Copy" stroke="none" fill="#540D0D" fill-rule="evenodd" cx="21.2496075" cy="16.5762805" rx="0.787022501" ry="0.556461977"></ellipse>
	                        <polygon id="rbt_logo-Triangle-1" stroke="none" fill="#540D0D" fill-rule="evenodd" transform="translate(14.559916, 21.601828) scale(1, -1) translate(-14.559916, -21.601828) " points="14.5599163 21.1670918 16.5274725 22.0365637 12.59236 22.0365637"></polygon>
	                        <path d="M14.4615385,21.932227 L14.4615385,34.8707163" id="rbt_logo-Line" stroke="#540D0D" stroke-width="0.5" stroke-linecap="square" fill="none"></path>
	                        <path d="M14.4615385,34.869968 L12.100471,36.5393539" id="rbt_logo-Line" stroke="#540D0D" stroke-width="0.5" stroke-linecap="square" fill="none"></path>
	                        <path d="M16.822606,34.869968 L14.4615385,36.5393539" id="rbt_logo-Line-Copy" stroke="#540D0D" stroke-width="0.5" stroke-linecap="square" fill="none" transform="translate(15.642072, 35.704661) scale(-1, 1) translate(-15.642072, -35.704661) "></path>
	                    </g>
	                </g>
	            </g>
	        </g>
	    </g>
	</symbol>
</svg>