.class_container {
	width: 1000px;
	background: $main_white; 
	padding-bottom: 330px;
	margin-bottom: 90px;
	.tags {
		width:243px;
		display: inline-block;
		margin-bottom: 20px;
	}
	.tag_item {
		@include tag(18px);
		line-height: 24px;
		font-weight: lighter;
		color: $main_white; 
		background: $main_green
	}
	.class_tags {
		width: 356px;
		height: 60px;
	}
	.classes_tags {
		width: 730px;
		padding: 30px 0;
		.title {
			margin: 0 73px;
			font-size: 18px;
			padding-left: 10px;
			margin-bottom: 20px;
			border-left: 5px solid $font_red_deep;
		}
	}
	.class_tag:last-child {
		margin: 0;
	}
}