@import "../components/common/common.scss";
@import "../components/common/reset.scss";
@import "../components/common/class.scss";
@import "../components/ui/ui.scss";
@import "../components/common/header.scss";
@import "../components/common/footer.scss";
@import "../components/course/info.scss";
@import "../components/course/comments.scss";
@import "../components/index/banner.scss";
@import "../components/index/list.scss";
@import "../components/index/hot.scss";
@import "../components/index/guess.scss";
@import "../components/search-result/nav-page.scss";
@import "../components/search-result/result.scss";
@import "login.scss";
@import "register.scss";
@import "404.scss";
@import "category.scss";
