@import "../components/common/header.scss";
@import "../components/common/footer.scss";
@import "../components/common/class.scss";
@import "../components/login/login.scss";
.content{
	width: 100%;
	background: #ffc54a;
	height: 654px;
}