/*
register.scss
*/
.registe_box {
    width: 1000px;
    box-sizing: border-box;
    margin-bottom: 78px;
    padding: 70px 80px 410px;
    background: #FFFFFF;
    .register {
        color: $font_black_middle;
        border-left: 5px solid $font_red_deep;
        font-size: 18px;
        line-height: 20px;
        padding-left: 10px;
        margin-right: 20px;
    }
    .login {
        float: right;
        text-align: right;
        color: #4098d1;
        font-size: 12px;
        a {
            font-size: 18px;
            color: #ec6941;
        }
    }
    form {
        padding-top: 40px;
        font-size: 24px;
        span {
            height: 40px;
            line-height: 40px;
            width: 138px;
        }
        input.submit {
            height: 50px;
            width: 280px;
            display: block;
            margin-top: 37px;
            background-color: $main_green;
            color: #fff;
            line-height: 50px;
            font-size: 20px;
            cursor: pointer;
        }
    }
    .must {
        width: 450px;
        span{
            color: #1dc091;
        }
        input {
            width: 450px;
            height: 50px;
            box-sizing: border-box;
            color: #999;
            font-size: 16px;
            border: solid 1px;
            padding: 0px 10px;
        }
        .hint {
            height: 17px;
            font-size: 12px;
            text-align: right;
            padding: 10px 5px;
            visibility: hidden;
        }
        .right {
            border-color: $main_green;
        }
        .hint_right {
            color: $main_green;
        }
        .wrong {
            border-color: $font_red_deep;
        }
        .hint_wrong {
            color: $font_red_deep;
        }
    }
}

