@import "../components/common/header.scss";
@import "../components/common/footer.scss";
@import "../components/common/class.scss";
@import "../components/login/registe.scss";
.content{
	background: #ffc54a;
	width: 100%;
	padding:20px 0px;
}