<!DOCTYPE html>
<html lang="zh-cn">
<head>
    {% block head %}
    <meta charset="utf-8" />
    <meta property="wb:webmaster" content="ab13715d115685f2" />
    <meta name="keywords" content="学而 华中师范大学 课程信息平台 评课 木犀团队" />
    <meta name="description" content="学而是华中师范大学唯一学生课程信息平台" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon-96x96.png">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
{% include 'svg/xueer_logo.html' %}
{% include 'svg/rbt_logo.html' %}
{% include 'svg/search.html' %}
{% include 'svg/rbt.html' %}
{% include 'components/header.html' %}
{% block content %}{% endblock %}
{% include 'components/footer.html' %}
<script src="/static/js/main.bundle.js"></script>
</body>
</html>