{% extends "pages/base.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block title %}登录{% endblock %}
{% block content %}
	<div class="class_container margin_auto margin_b">
		<div class="classes_tags margin_auto">
			<div class="title">热门标签</div>
			<div class="space">
				<div class="tags tc">
					<div class="tag_item">哈</div>
				</div>
				<div class="tags tc">
					<div class="tag_item">哈哈</div>
				</div>
				<div class="tags tc">
					<div class="tag_item">哈哈哈</div>
				</div>
				<div class="tags tc">
					<div class="tag_item">哈哈哈哈</div>
				</div>
				<div class="tags tc">
					<div class="tag_item">哈</div>
				</div>
				<div class="tags tc">
					<div class="tag_item">哈哈</div>
				</div>
				<div class="tags tc">
					<div class="tag_item">哈哈哈</div>
				</div>
				<div class="tags tc">
					<div class="tag_item">哈哈哈哈</div>
				</div>
				<div class="tags tc">
					<div class="tag_item">哈</div>
				</div>
				<div class="tags tc">
					<div class="tag_item">哈哈</div>
				</div>
				<div class="tags tc">
					<div class="tag_item">哈哈哈</div>
				</div>
				<div class="tags tc">
					<div class="tag_item">哈哈哈哈</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
