{% extends "pages/base.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block title %}登录{% endblock %}
{% block content %}
{% include 'svg/cactus.html' %}
{% include 'svg/bg_people.html' %}
{% include 'svg/floder.html' %}
<div class="login_content">
	<div class="login margin_auto">
		<svg>
			<use xlink:href="#bg_people"/>
		</svg>
		<div class="content">
			<div class="band">
				<div class="band_t"></div>
				<div class="band_b"></div>
			</div>
			<div class="log_option">
				<p  class="tc"><span>登录</span></p>
			</div>
			<form action="#" method="post">
				<input type="text" placeholder="输入账号" tabindex="1" />
				<input type="text" placeholder="密码" tabindex="1" />
				<p class="forget">忘记密码？</p>
				<input type="submit" class="cp" value="登 录" />
				<p class="bottom_line tc">没有账户？<a href="http://127.0.0.1:5000/register">立即注册</a></p>
			</form>
			<svg class="folder">
				<use xlink:href="#folder"/>
			</svg>
			<svg class="cactus">
				<use xlink:href="#cactus"/>
			</svg>
			<div class="trg"></div>
		</div>
	</div>
</div>
{% endblock %}



