/***
 xueer components/course/comments.scss
 authored by zindex
***/
.comments_box {
	width:1000px;
}
.comments_cont{
	width: 800px;
	box-sizing: border-box;
	margin-top: 10px;
	margin-right: 200px;
	background: $main_white;
	padding: 42px 38px 60px 76px;
	.head{
		padding-bottom: 20px;
	}
	.head_txt{
		font-size: 18px;
		color:$font_grey_light;
		border-left: 4px solid $font_red_deep;
		height:20px;
		padding-left: 11px;
		line-height: 20px;
	}
	.pager{
		margin-bottom: 40px;
	}
	.avatar {
		display:inline-block;
		width:59px;
		height:59px;
		border-radius: 50%;
		overflow: hidden;
		vertical-align: top;
	}
	.comment{
		margin-top:10px;
		border-bottom: 1px solid $font_grey_deep;
	}
	.avatar{
		img {
			width: 100%;
			height: 100%;
		}
	}
	.top span{
		display:inline-block;
	}
	.comment{
		.content{
			width: 600px;
			padding-left: 17px;
		}
		.top{
			padding-top: 11px;
			padding-bottom: 14px;
			color: $main_green;
		}
		.username{
			font-size: 18px;
			width:50%;
			text-align: left;
		}
		.hot {
			background: $font_red_deep;
			width: 20px;
			height: 15px;
			margin-left: 5px;
			font-size: 9px;
			color: $main_white;
			line-height: 15px;
			vertical-align: top;
		}
		.date{
			font-size: 14px;
			width:50%;
			text-align: right;
		}
		.body{
			font-size: 14px;
			color:$font_grey_light;
			line-height: 22px;
			margin-bottom: 10px;
		}
		.like{
			font-size: 14px;
			color:$main_orange;
			text-align: right;
			margin-bottom: 20px;
		}
	}
	.new_comment_cont {
		.avatar {
			margin-right: 10px;
		}
		.new_comment {
			width: 608px;
			height: 200px;
			padding: 10px;
			resize: vertical;
			box-sizing: border-box;
			border: 2px solid $border_grey;
		}
		.comment_box {
			display: inline-block;
		}
		.submit_bt{
			@include button(100px,30px,0)
			display: block;
			margin-top: 58px;
			margin-bottom: 80px;
			background: $main_green;
			font-size: 14px;
			font-weight: 400;
		}
		.tag_head {
			font-size: 14px;
			font-weight: lighter;
			color: $main_green;
			margin-bottom: 10px;
		}
		.new_tags{
			width: 584px;
			height: 40px;
			line-height: 40px;
			padding: 0 10px;
			border: 2px solid $border_grey;
			margin: 30px 0;
		}
		.pre_tag{
			@include tag(14px);
			font-weight: lighter;
			color: $main_white;
			background: #CDCDCD;
		}
		.pre_tag:hover{
			color: $font_blue_light;
			background: $main_orange;
		}
	}
}
