/***
 xueer components/course/info.scss
 authored by zindex
***/
.info {
    width: 1000px;
}
.course_info {
    width: 678px;
}

.course_intro{
    display: inline-block;
    border-left: 1px solid $border_grey;
    ul {
        margin: 0;
    }
    li{
        font-weight: 400;
        line-height: 30px;
    }
    .disc{
        display: inline-block;
        width: 0;
        height: 0;
        margin: 0 10px;
        border: 4px solid $font_red_deep;
        border-radius: 4px;
    }
    .course_name {
        font-size: 18px;
    }
    .teacher_name {
        font-size: 14px;
    }
    .course_message{
        font-size: 14px;
        font-weight: lighter;
        line-height: 20px;
        width: 434px;
        margin-left: 70px;
        margin-top: 10px;
    }
}
.info {
    .course_class {
        @include course_class(96px,96px,36px);
        margin-right: 35px;
    }
    .course {
        background: $main_white;
        padding: 40px 30px 40px 80px;
        display:inline-block;
        width: 800px;
        box-sizing: border-box;
        margin-right:10px;
    }
    .like {
        width: 185px;
        background: $main_white;
    }
    .tags {
        color: $main_white;
        margin-top: 26px;
        padding-left: 160px;
        font-weight: lighter;
    }
    .tag {
        @include tag(18px);
        margin-right: 20px;
        border:2px solid $main_white;
        background: $bg_orange_middle;
    }
    .like_bt {
        padding: 20px 76px 26px 78px;
        background: $font_red_deep;
        font-size: 36px;
        color: $main_white;
    }
    .count {
        color: $font_grey_light;
        padding: 38px 40px 22px 40px;
    }
    .num {
        font-size: 24px;
        color: $font_red_deep;
    }
    .count_text {
        font-size: 18px;
        font-weight: lighter;
    }
    .comment_btn {
        border-right-width: 2px;
    }
    .btn_text {
    	height:100%;
        font-size: 20px;
        margin-left: 12px;    
    }
    .margin_b{
        margin-bottom: 10px;
    }
    .like_i{
    	width:20px;
    	height:18px;
        }
    .comment_i{
    	width:24px;
    	height:19px;
    }
    .btn_text{
        line-height: 61px;
    }
    .btn_text{
        line-height: 63px;
    }
    .tag:hover {
        background-color: $bg_orange_middle;
        border: 2px solid $font_blue_light;
        color: $main_white; 
    }
    .like_bt:hover{
        color: $font_blue_light;
    }
}
