$main_green:#1dc091;
$main_orange:#ffb75b;
$footer_grey:#eaeaea;
$font_grey_lighter:#7a7a7a;
$font_grey_light:#5c5c5c;
$font_grey_deep:#666666;
$font_orange:#ff7800;
$font_black:#1a1a1a;

@mixin va() {
    content: "";
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}
