@import "common.scss";
@import "./components/ui/ui.scss";

/***
 xueer header.scss
 authored by zindex
***/

.header {
    width: 100%;
    border-bottom: 1px solid #eeeeee;
}

.header {
    .container {
        width: 960px;
        margin: 0 auto;
    }
    .head {
        line-height: 109px;
    }
    .head {
        .logo {
            width: 119px;
            height: 56px;
            background-image: url("../images/logo.png");
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 69px;
        }
        .search {
            width: 552px;
            height: 50px;
            background-color: $main_green;
            margin-right: 78px;
        }
        .button {
            font-size: 1.5rem;
            @include button(56px,
            35px,
            3px)
        }
        .login {
            background-color: $main_green;
            margin-right: 30px;
        }
        .reg {
            background-color: $main_orange;
        }
    }
}
.nav{
	width: 100%;
	border-bottom: 1px solid #eeeeee;
}
.nav{
	.container{
		width: 960px;
		line-height: 62px;
	}
	.container{
		.item{
			line-height: 22px;
			font-size: 1.5rem;
			color: $font_grey_light;
			border-bottom: 2px solid #fff;
			margin-right: 50px;
		}
		.item:hover{
			border-bottom: 2px solid $font_orange;
		}
	}
}
