<div class="comments_box  margin_auto margin_b">
    <div class="comments_cont">
        <div class="head">
            <span class="head_txt">热门评论</span>
        </div>
        {% for comment in hot_comments %}
        <div class="comment space">
            <div class="avatar">
                <img src="{{ comment.avatar }}" alt="avatar">
            </div>
            <div class="content">
                <div class="top space">
                    <span class="username">
                        {{ comment.user_name }}
                        <span class="hot tc">hot</span>
                    </span>
                    <span class="date">
                        {{ comment.date }}
                    </span>
                </div>
                <div class="body">
                    {{ comment.body }}
                </div>
                <div class="like">
                    赞同（{{ comment.like }}）
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="comments_cont">
        <div class="head">
            <span class="head_txt">最新评论</span>
        </div>
        {% for comment in hot_comments %}
        <div class="comment space">
            <div class="avatar">
                <img src="{{ comment.avatar }}" alt="avatar">
            </div>
            <div class="content">
                <div class="top space">
                    <span class="username">
                        {{ comment.user_name }}
                    </span>
                    <span class="date">
                        {{ comment.date }}
                    </span>
                </div>
                <div class="body">
                    {{ comment.body }}
                </div>
                <div class="like">
                    赞同（{{ comment.like }}）
                </div>
            </div>
        </div>
        {% endfor %}
        {% block content %}
                {% include 'components/search-result/nav-page.html' %}
        {% endblock %}
    </div>
    <div class="comments_cont border_b">
        <div class="head">
            <span class="head_txt">写评论</span>
        </div>
        <div class="new_comment_cont">
            <div class="avatar">
                <img src="">
            </div>
            <div class="comment_box">
                <textarea class="new_comment" placeholder="确保你已经登录了再写评论哦(•̀ᴗ•́)و ̑̑"></textarea>
                <input class="new_tags border_b" placeholder="输入标签，用空格间隔"></input>
                <div class="tag_head">热门标签，点击直接添加</div>
                <div> 
                    <div class="pre_tag">哈</div>
                    <div class="pre_tag">哈哈哈</div>
                    <div class="pre_tag">哈哈哈哈</div>
                    <div class="pre_tag">哈哈哈哈哈</div>
                </div>
                <button class="submit_bt tc margin_auto">提交</button>
            </div>
        </div>
    </div>
    <script src="/static/js/main.bundle.js"></script>
    <script src="/static/js/comment.bundle.js"></script>
</div>