<div class="info margin_auto">
    <div class="space">
        <div class="course">
            <div class="course_info space">
                <div class="course_class va_top">
                   公 
                </div>
                <div class="course_intro">
                    <ul>
                        <li class="course_name"><span class="disc"></span>{{ info.course_name }}</li>
                        <li class="teacher_name"><span class="disc"></span>{{ info.teacher }}</li>
                    </ul>
                    <div class="course_message">
                        {{ info.introduce }}
                    </div>
                </div>
            </div>
            <div class="tags tc space">
            {% for tag in info.tags %}
                <div class="tag cp">
                    {{ tag }}
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="like va_top">
            <div class="count tc space">
                <div class="count_text margin_b">这门课被</div>
                <div class="num margin_b">{{ info.like }}人</div>
                <div class="count_text margin_b">喜欢</div>
            </div>
            <div class="like_bt tc cp">
                +1
            </div>
        </div>
    </div>
</div>


