.pager{
    	text-align: right;
        margin-top: 40px;
        color: $main_white;
        font-size: 14px;
    .item{
        line-height: 30px;
    	margin-left:15px;
        display: inline-block;
        width: 30px;
        height: 30px;
        background: #cdcdcd;
    }
    .current {
        background: $main_green;
    }
    .more {
        color: #cdcdcd;
        background: $main_white;
    }
    .check_bt{
        display: inline-block;
        width: 60px;
        height: 30px;
        background: $main_green;
    }	
}

