.pager{
        width: 100%;
    	text-align: right;
    .item{
        line-height: 30px;
        text-align: center;
    	margin-left:20px;
        width: 30px;
        height: 30px;
    }
    .hover_blue:hover{
        color: $font_blue_light;
    }
    .check_bt{
        display: inline-block;
        width: 60px;
        height: 30px;
        background: $main_green;
    }	
}