//main color
$main_green:#1dc091;
$main_orange:#ffb75b;

//font color
$font_grey_light:#5c5c5c;
$font_grey_deep:#eeeeee;
$font_orange:#ff7800;

$border_grey:#eeeeee;

//footer color
$footer_bg:#8491c3;

  