//main color
$main_green:#1dc091;
$main_orange:#ffb75b;
$main_white:#FFFFFF;

$bg_red_light: #F18C9B;
$bg_orange_middle: #F5A623;
$bg_grey_color:#F4F4F4;
$bg_yellow_light: #F5EA5C;
$bg_cd: #cdcdcd;
$bg_orange: #EEAB5D;

//font color
$font_red_deep:#EA5A70;
$font_grey_light:#5c5c5c;
$font_grey_deep:#eeeeee;
$font_blue_light:#44C0FF;
$font_blue_middle:#4098d1;
$font_black_light:#999999;
$font_black_middle:#666666;
$font_black_deep:#333333;

$border_grey:#eeeeee;
$border_e5:#e5e5e5;

//footer color
$footer_bg:#8491c3;

  