@import "common.scss";
@import "../ui/ui.scss";

/***
 xueer header.scss
 authored by zindex
***/

.header {
    width: 100%;
    border-bottom: 1px solid $border_grey;
}

.header {
    .container {
        width: 960px;
        margin: 0 auto;
    }
    .head {
        line-height: 109px;
    }
    .head {
        .logo {
            width: 119px;
            height: 56px;
            background-image: url("../images/logo.png");
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 69px;
        }
        .search {
            width: 552px;
            height: 50px;
            margin-right: 78px;
        }
        .log_button {
            font-size: 18px;
            @include button(56px,
            35px,
            3px)
        }
        .login {
            background-color: $main_green;
            margin-right: 30px;
        }
        .reg {
            background-color: $main_orange;
        }
    }
    .search {
        .form {
            width: 100%;
            line-height: 50px;
        }
        .input {
            height: 46px;
            width: 451px;
            border-radius: 3px 0px 0px 3px;
            border: 2px solid $main_green;
            border-right: none;
            font-size: 18px;
            padding-left: 19px;
        }
        .search_button {
            height: 46px;
            width:76px;
            background-color: $main_green;
            border: 2px solid $main_green;
            border-radius: 0px 3px 3px 0px;
            text-align: center;
        }
    }
}

.nav {
    width: 100%;
}

.nav {
    .container {
        width: 960px;
        line-height: 63px;
    }
    .container {
        .item {
            line-height: 22px;
            font-size: 18px;
            color: $font_grey_light;
            border-bottom: 2px solid #fff;
            margin-right: 50px;
        }
        .item:hover {
            color: $font_orange;
            border-bottom: 2px solid $font_orange;
        }
    }
}
