/***
 xueer header.scss
 authored by zindex
***/

.header {
    height:80px;
    border-bottom: 1px solid $border_grey;
    background: $main_white;
}
.nav:after{
    content: "";
    display:inline-block;
    vertical-align: middle;
    width:0;
    height:100%;
}
.header {
    .container {
        width: 1000px;
    }
    .head {
        height:80px;
        line-height: 80px;
    }
    .nav {
        height:100%;
    }
    .rbt_logo{
        width:40px;
        height:40px;
        border-radius: 50%;
        margin-right:20px;
    }
    .logo {
        width: 95px;
        height: 35px;
        margin-right: 47px;
    }
    .search {
        width: 391px;
        height: 40px;
        margin-right: 40px;
    }
    .log_button {
        font-size: 18px;
        @include button(102px,
        40px,
        3px)
    }
    .login {
        background-color: $main_green;
    }
}
.search {
    .form {
        line-height: 40px;
    }
    .input{
        font-size: 18px;
        padding-left: 12px;
    }
    .search_button {
        line-height: 40px;
        height: 40px;
        width:80px;
        background-color: $font_red_deep;
        border-radius: 0px 3px 3px 0px;
    }
    .search_icon{
        width:26px;
        height:26px;
    }
    .search_container{
        position: relative;
    }
    .input_warpper{
        height: 38px;
        padding: 0 10px;
        width: 270px;
        font-size: 14px;
        border-radius: 3px 0px 0px 3px;
        border: 1px solid $font_red_deep;
        border-right: none;
    }
}
.nav {
    .item {
        height:36px;
        line-height:43px;
        font-size: 20px;
        border-bottom: 2px solid $main_white;
        margin-right: 46px;
    }
    .first{
        color: $font_red_deep;
    }
    .last{
        margin-right: 73px;
        color: $font_black_middle;
    }
    .item:hover {
        color: $font_blue_light;
        border-bottom: 2px solid;
    }
}
