$index_like: -0px -0px 44px 38px;
$weibo: -0px -38px 48px 42px;
$home: -0px -80px 48px 46px;
$change: -0px -126px 50px 48px;
$join: -0px -174px 48px 48px;
$lb: -0px -222px 48px 48px;
$hot: -0px -270px 44px 50px;
$comment: -0px -320px 58px 58px;
$search: -0px -378px 60px 62px;
$logo: -0px -440px 252px 118px;
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@function sprite-width($sprite) {
  @return nth($sprite, 3);
}
@function sprite-height($sprite) {
  @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x/2 $sprite-offset-y/2;
}
@mixin sprite($sprite, $display: block) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  background-size: 126px auto;
}
.icon {
  background-image: url(../images/sprite.png);
}